#mozfrtab {
    height: 55px;
    width: 890px;
    margin: auto;
}

#mozfrtab a {
    height: 45px;
    width:160px;
    float:right;
    color:transparent;
    background: transparent url('./mozfrtab.png') no-repeat top left;
}
