
/*******************************************
 * Import files
 *
 * ***************************************/
@import url('normalize.css');
@import url('fonts.css');


/******************************************
 *  General rules
 *
 * ***************************************/

body {
    color: black;
    background-color: white;
    font-family: Inter, sans-serif;
    line-height: 1.5;
    font-size: 1rem;
}

h1, h2, h3, h4 {
  font-family: "Zilla Slab", Inter, sans-serif;
  font-weight: 700;
  color: #20123a;
}

.wrapper {
    color: black;
    background-color: white;
    background: white url("/img/header-bg-tail.png") top center no-repeat;
}

header,
.content,
.inner-footer section {
    max-width: 1200px;
    margin:auto;
}

footer {
    color: white;
    background: black;
}

footer .inner-footer:first-child {
    background-color: purple;
    width: 100%;
}

header,
#nav-main ul {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#nav-main ul li {
    list-style-type: none;
    min-width: 100px;
    text-align: center;
    margin-right: 0;
    padding: 0 1.5em;
    color: black;
}

#nav-main ul li:hover {
    color: white;
    background-color: purple;
}

#nav-main ul li:hover a {
    color: white;
}

#nav-main ul li a {
    color:black;
    text-decoration: none;
}

#nav-main ul li a:hover {
    color:white;
    text-decoration: none;
}

footer section#credits a {
    color:white;
    text-decoration: underline;

}

footer section#credits a:hover {
    text-decoration: none;
}

footer section#links a {
    color:white;
    text-decoration: none;
}

footer section#links a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.content a {
    color: #0250bb;
    font-weight: bold;
}

.mozfrtext {
    color: white;
    background-color: black;
    padding: 0 6px;
    font-weight: bold;
    font-size: 2em;
    font-family: 'Zilla Slab', serif;
    text-decoration: none;
    line-height: 1.5em;
    border-radius: 2px;
    border-bottom: 4px solid;
    border-image: linear-gradient(to right, #009de0 20%, #fed500 20% 40%, #8dbb0f 40% 60%, #6d1f80 60% 80%, #e31c2a 80%) 1;
}

.mozfrtext span {
    font-style: italic;
    font-weight: lighter;
    color: deepskyblue;
}

.mozfrtext:hover {
  text-decoration: none;
  color: black;
  background-color: white;
}

footer a.mozfrtext {
    /* eslint-disable css/no-important */
    color: black !important;
    background-color: white !important;
    /* eslint-enable css/no-important */
    font-size: 1.5em;
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block
}

footer a.mozfrtext:hover {
    /* eslint-disable css/no-important */
    color: white !important;
    background-color: black !important;
    text-decoration: none !important;
    /* eslint-enable css/no-important */
}

h1 {
    border-bottom: 1px dashed #45a1ff;
    color: #45a1ff;
}

h1 span {
    color: #ff4f5e;
}

.photo {
    width: 500px;
    float: right;
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    border: 1px solid lightgray;
    margin: 0 0 0em 1em;
    padding: 10px 10px 1em 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    transform: rotate(5deg);
    font-weight: bold;
    font-family: cursive;
    font-style: italic;
    border-radius: 2px;
    background-color: white;
    opacity: 0.8;
}

.gandi {
    filter: invert(100%);
    width: 100px;
    vertical-align: middle;
    margin-left: 20px;
}

.getfirefox {
    color: #0250bb;
    padding: 8px 16px;
    border: 2px solid #0250bb;
    font-weight: bold;
    transition: background-color .1s,box-shadow .1s,color .1s,transform .1s;
    border-radius: 2px;
    height: 1.5em;
}

.getfirefox:hover {
    background-color: #0250bb;
    color: white;
    text-decoration:none;

}

footer section#links {
    display: flex;
    padding-top: 2em;
    justify-content: space-evenly;
    color: white;
    position:relative;
}

footer section#links h3 {
    color:white;
}

footer section#links ul {
    list-style-type: none;
    padding: 0;
    line-height: 2em;
}

footer section#credits {
    text-align: center;
    font-size: small;

    & p {
      margin-block-end: 0;
    }
}


details {
    border: 1px solid #ddd;
    background: #fff;
    margin-bottom: 1.5rem;
    border-radius: 0.35rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
    padding: 0 1em;
}

summary {
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}
