<!DOCTYPE html>
<html xml:lang="fr" lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ site.title|striptags }} - {{ page.title|striptags }}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
</head>
<body{{ page.id ? " class=\"#{page.id}\""|raw : '' }}>
    <div class="wrapper">
        <header>
            <a href="/" title="Mozilla francophone" class="mozfrtext">moz:fr</a>
            <nav id="nav-main" role="navigation">
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/participer">Participer</a></li>
                    <li><a href="/manifesto">À propos</a></li>
                    <li><a href="//forums.mozfr.org">Forums</a></li>
                    <li><a href="//planete.mozfr.org">Planète</a></li>
                </ul>
            </nav>
            <a href="https://www.mozilla.org/fr/firefox/download/thanks/?source=mozfr" class="getfirefox">Télécharger Firefox</a>
        </header>
        <div class="content">
            <h1>{{ page.title|raw}}</h1>

            {% block content %}Error 404{% endblock %}

        </div>

        <footer>
            <a href="/" title="Mozilla francophone" class="mozfrtext">moz:fr</a>
            <p>
                <p>Le contenu textuel est disponible sous la licence <em>Creative Commons</em> <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr" title="Creative Commons — Attribution – Partage dans les mêmes conditions 4.0 International – CC BY-SA 4.0">CC By-SA 4.0</a>+ (<a href="https://github.com/mozfr/besogne/wiki/Licence" hreflang="fr">en savoir plus…</a>).
            </p>

            <p>
                Le <a href="https://github.com/mozfr/www">code source</a> du site est sous licence <a href="https://www.mozilla.org/en-US/MPL/2.0/">Mozilla Public License Version 2.0</a>.
            </p>
            <p>
                Ce site est maintenu par des bénévoles et n'est pas un site officiel de la
                <a href="https://www.mozilla.org/fr/">fondation Mozilla</a>.
            </p>
            <p>
                Les sites mozfr sont hébergés gracieusement par <a href="https://gandi.net">Gandi</a>. <b>Merci&nbsp;!</b><img src="/img/propulse_par_gandi.svg" class="gandi">
            </p>
        </footer>
    </div> <!-- #wrapper -->
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//piwik.mozfr.org/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 10]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//piwik.mozfr.org/piwik.php?idsite=10" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
</body>
</html>
