<!DOCTYPE html>
<html xml:lang="fr" lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ site.title|striptags }} - {{ page.title|striptags }}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
</head>
<body{{ page.id ? " class=\"#{page.id}\""|raw : '' }}>
    <div class="wrapper">
        <header>
            <a href="/" title="Mozilla francophone" class="mozfrtext">moz<span>fr</span></a>
            <nav id="nav-main" role="navigation">
                <ul>
                    <li><a href="https://blog.mozfr.org">Nouvelles</a></li>
                    <li><a href="/participer">Participer</a></li>
                    <li><a href="//forums.mozfr.org">Forums</a></li>
                    <li><a href="https://github.com/mozfr/besogne/wiki">Wiki</a></li>
                    <li><a href="/manifesto">À propos</a></li>
                </ul>
            </nav>
            <a href="https://www.mozilla.org/fr/firefox/download/thanks/?source=mozfr" class="getfirefox">Télécharger Firefox</a>
        </header>
        <div class="content">
            <h1>{{ page.title|raw}}</h1>

            {% block content %}Error 404{% endblock %}

        </div>

        <footer>
            <div class="inner-footer">
                <section id="links">
                <a href="/" title="Mozilla francophone" class="mozfrtext">moz<span>fr</span></a>
                    <div>
                    <h3>Communication</h3>
                    <ul>
                        <li><a href="https://blog.mozfr.org">Blog principal</a></li>
                        <li><a href="https://tech.mozfr.org">Blog technique</a></li>
                        <li><a href="https://notreinternet.mozfr.org">Mozilla et la vie publique</a></li>
                        <li><a href="https://planete.mozfr.org">Planète Mozilla francophone</a></li>
                        <li><a href="https://twitter.com/Mozilla_fr">Suivez-nous sur Twitter</a></li>
                        <li><a href="https://mamot.fr/@Mozilla">Suivez-nous sur Mastodon</a></li>
                    </ul>
                    </div>
                    <div>
                    <h3>Logiciels</h3>
                    <ul>
                        <li><a href="https://www.mozilla.org/fr/firefox/new">Firefox</a></li>
                        <li><a href="https://www.mozilla.org/fr/firefox/channel/desktop/?from=mozfr">Préversions de Firefox</a></li>
                        <li><a href="https://play.google.com/store/apps/details?id=org.mozilla.fenix&amp;gl=FR">Firefox Preview pour Android</a></li>
                        <li><a href="https://www.thunderbird.net/fr/">Thunderbird</a></li>
                        <li><a href="https://lockwise.firefox.com/">Firefox Lockwise</a></li>
                        <li><a href="https://send.firefox.com/">Firefox Send</a></li>
                        <li><a href="https://monitor.firefox.com/">Firefox Monitor</a></li>
                    </ul>
                    </div>
                    <div>
                    <h3>À propos</h3>
                    <ul>
                        <li><a href="/manifesto">Le manifeste de Mozilla</a></li>
                        <li><a href="/participer">Participer</a></li>
                        <li><a href="https://github.com/mozfr/besogne/wiki/Traduction">Traduire</a></li>
                        <li><a href="https://forums.mozfr.org/">Forums et assistance</a></li>
                        <li><a href="https://github.com/mozfr/besogne/wiki">Wiki d’équipe</a></li>
                    </ul>
                    </div>
                </section>
            </div>

            <div class="inner-footer">
                <section id="credits">
                <p>
                    Le contenu textuel est disponible sous la licence <em>Creative Commons</em> <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr" title="Creative Commons — Attribution – Partage dans les mêmes conditions 4.0 International – CC BY-SA 4.0">CC By-SA 4.0</a>+ (<a href="https://github.com/mozfr/besogne/wiki/Licence" hreflang="fr">en savoir plus…</a>).
                </p>

                <p>
                    Le <a href="https://github.com/mozfr/www">code source</a> du site est sous licence <a href="https://www.mozilla.org/en-US/MPL/2.0/">Mozilla Public License Version 2.0</a>.
                </p>

                <p>
                    Ce site est maintenu par des bénévoles et n'est pas un site officiel de la
                    <a href="https://www.mozilla.org/fr/">fondation Mozilla</a>.
                </p>


                <p>
                    Les sites mozfr sont hébergés gracieusement par <a href="https://gandi.net">Gandi</a>. <b>Merci&nbsp;!</b><img src="/img/propulse_par_gandi.svg" class="gandi">
                </p>
                </section>
            </div>

        </footer>
    </div> <!-- #wrapper -->
{% if site.env == 'prod' %}
    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://piwik.mozfr.org/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '10']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- Matomo Image Tracker-->
    <noscript><img src="https://piwik.mozfr.org/matomo.php?idsite=10&amp;rec=1" style="border:0" alt="" /></noscript>
    <!-- End Matomo -->
{% endif %}
</body>
</html>
