<!DOCTYPE html>
<html xml:lang="fr" lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ site.title }} - {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
    <div id="wrapper">
        <header id="masthead">
            <a href="/" title="Retour au portail Mozilla Francophone" id="tabzilla">mozFR</a>
            <nav id="nav-main" role="navigation">
                <span class="toggle" role="button" aria-controls="nav-main-menu" tabindex="0">Menu</span>
                <ul id="nav-main-menu">
                    <li class="first"><a href="/">Accueil</a></li>
                    <li><a href="/participer">Participer</a></li>
                    <li><a href="/manifesto">À propos</a></li>
                    <li><a href="//forums.mozfr.org">Forums</a></li>
                    <li><a href="//planete.mozfr.org">Planète</a></li>
                </ul>
            </nav>
        </header>
        <h1 id="site-title"><a href="/">Mozilla Francophone</a></h1>
        <div id="content">

            {% block content %}Error 404{% endblock %}

        </div>

        <div id="sidebar" class="aside">
            <p>
                <a href="https://soutien.laquadrature.net/?from=mozfr" style="margin-left: 25px"><img src="https://soutien.laquadrature.net/static/images/support_lqdn_250_B_fr.png" alt="Soutenez l'action de La Quadrature Du Net par un don" title="Soutenez l'action de La Quadrature Du Net par un don"></a>
            </p>

            <p>
                <a href="https://www.mozilla.org/fr/firefox/new/?from=mozfr"><img src="/img/FFx-Australis_banner_300x250.png" alt="Engagé pour le Web ouvert, téléchargez Firefox"></a>
            </p>
            <div class="section">
                <h2>MozFR ailleurs</h2>
                <ul id="sns">
                    <li id="twitterlogo"><a href="https://twitter.com/mozilla_fr/">Twitter</a></li>
                </ul>
            </div>

            <div class="section">
                <h2>Téléchargements</h2>
                <ul id="downloads">
                    <li id="firefox">
                        <a href="https://www.mozilla.org/fr/firefox/?from=mozfr">Firefox</a>
                    </li>
                    <li id="firefox-nightly">
                        <a href="https://nightly.mozfr.org/">Firefox Nightly</a>
                    </li>
                    <li id="play">
                        <a href="https://market.android.com/details?id=org.mozilla.firefox">
                            Firefox Android <span class="small">(Play)</span>
                        </a>
                    </li>
                    <li id="itunes">
                        <a href="https://itunes.apple.com/fr/app/apple-store/id989804926">
                            Firefox pour iOS
                        </a>
                    </li>
                    <li id="thunderbird">
                        <a href="https://www.mozilla.org/fr/thunderbird/?from=mozfr">Thunderbird</a>
                    </li>
                </ul>
            </div>

			<div class="section">
				<h2>Sites officiels</h2>
				<ul id="mozillasites">
					<li id="mozilla">
						<a href="https://mozilla.org/fr" title="Site officiel de Mozilla">Mozilla.org</a>
					</li>
					<li id="sumo">
						<a href="https://support.mozilla.org/fr/" title="Assistance pour les logiciels Mozilla">Assistance utilisateur</a>
					</li>
					<li id="mdn">
						<a href="https://developer.mozilla.org/fr/" title="Mozilla Developer Network">Documentation technique</a>
					</li>
					<li id="addons">
						<a href="https://addons.mozilla.org/fr/" title="Extensions">Modules et extensions</a>
					</li>
				</ul>
			</div>

            <div class="section">
                <h2>Nos blogs thématiques</h2>
                <ul id="activities">
                    <li id="mozfr">
                        <a href="https://blog.mozfr.org/" title="Blog généraliste de la communauté francophone">Blog de MozFr</a>
                    </li>
                    <li id="notreinternet">
                        <a href="https://notreinternet.mozfr.org/" title="Blog sur les lois et Internet">Notre Internet</a>
                    </li>
                    <li id="bidouilleux">
                        <a href="https://tech.mozfr.org/" title="Blog technique de la communauté Mozilla francophone">Bidouilleux d'Web</a>
                    </li>
                    <li id="geckozone">
                        <a href="https://forums.mozfr.org/" title="aide et support technique des utilisateurs Mozilla">Forums Geckozone</a>
                    </li>
                    <li class="more">
                        <a href="/participer">Participer</a>
                    </li>
                </ul>
            </div>

            <div class="section">
                <h2>Lettre d'information</h2>
                <p>
                    <img src="/img/newsletter.png" alt="newsletter" />
                    <a href="https://www.mozilla.org/fr/newsletter/">Abonnez-vous à Firefox &amp; vous</a>, notre lettre d'information mensuelle.
                </p>
            </div>

            <div class="section">
                <h2>Gazouillis</h2>
                <p id="twitter">
                    <a class="twitter-timeline"  href="https://twitter.com/mozilla_fr"  data-widget-id="344462767648038912">Tweets de @mozilla_fr</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </p>
            </div>
        </div>

    </div> <!-- #wrapper -->
    <footer id="site-info" role="contentinfo">
        <div class="wrap">
            <p id="foot-logo">
                <a class="top" href="#wrapper">Retour en haut</a>
                <a class="logo" href="https://mozilla.org" rel="external">Mozilla</a>
            </p>

            <p id="colophon">
                Sauf mention contraire, le contenu de ce site est placé sous licence <a
                href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons
                paternité partage à l’identique</a>. Le code source du site est sous licence <a href="https://www.mozilla.org/en-US/MPL/2.0/">Mozilla Public License Version 2.0</a>
            </p>

            <p id="nav-meta">
                Ce site est maintenu par des bénévoles et n'est pas un site officiel de la
                <a href="https://www.mozilla.org/">fondation Mozilla</a>.
            </p>
        </div>
    </footer>
    <script src="/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="/js/tabzilla.js" type="text/javascript"></script>
    <script src="/js/nav-main.js" type="text/javascript"></script>
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//piwik.mozfr.org/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 10]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//piwik.mozfr.org/piwik.php?idsite=10" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
</body>
</html>
