
/*******************************************
 * Import files
 *
 * ***************************************/
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap');
@import url('https://rsms.me/inter/inter.css');
@import url('normalize.css');


/*******************************************
 *  #Fonts
 *
 * ***************************************/


/*******************************************
 *  General rules
 *
 * ***************************************/

body {
  color: black;
  background-color: white;
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-size: 1rem;
}

h1, h2, h3, h4 {
  font-family: "Zilla Slab", Inter, sans-serif;
  font-weight: 700;
}

/*******************************************
 *  presentation
 *
 * ***************************************/

#wrapper {
  width: 1000px;
  margin: auto;
}

 header,
 #nav-main-menu {
  display:flex;
}

 #nav-main-menu li {
  list-style-type: none;
  flex-flow: row wrap;
   justify-content: flex-start;
 }

/*******************************************
 *  mozfr
 *
 * ***************************************/




#mozfrtext {
  color: white;
  background-color: black;
  padding: 0.1em;
  font-weight: bold;
  font-size: 2em;
  line-height: 1em;
  font-family: 'Zilla Slab', serif;
  display: inline-block;
  margin: 10px;
  text-decoration: none;
}

#mozfrtext:hover {
  text-decoration: none;
  color: black;
  background-color: lightblue;
}
