
/*******************************************
 * Import files
 *
 * ***************************************/
@import url('normalize.css');
@import url('fonts.css');


/*******************************************
 *  General rules
 *
 * ***************************************/

body {
  color: black;
  background-color: white;
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  background: url("/img/header-bg-tail.png") no-repeat;
}

h1, h2, h3, h4 {
  font-family: "Zilla Slab", Inter, sans-serif;
  font-weight: 700;
  color: #20123a;
}

/*******************************************
 *  presentation
 *
 * ***************************************/

.wrapper {
    display: grid;
    grid-row-gap: 20px;
}

header,
.content,
footer {
    padding: 0 300px;
}

header,
#nav-main ul {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#nav-main ul li {
    list-style-type: none;
    min-width: 100px;
    text-align: center;
    margin-right: 0.5em;
}

#nav-main ul li a {
    color: black;
}

footer {
    color: white;
    background: black;
    padding-top: 1em;
    text-align: center;
}

footer a {
    color:white;
    text-decoration: underline;
    max-width: 1200px;
}

footer a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
}

.content a {
    color: #0250bb;
    font-weight: bold;
}

.mozfrtext {
    color: white;
    background-color: black;
    padding: 0 6px;
    font-weight: bold;
    font-size: 2em;
    font-family: 'Zilla Slab', serif;
    text-decoration: none;
    line-height: 1.5em;
    border-radius: 2px;
}

.mozfrtext span {
    font-style: italic;
    font-weight: lighter;
    color: deepskyblue;
}

.mozfrtext:hover {
  text-decoration: none;
  color: black;
  background-color: #9059ff;
}

footer .mozfrtext {
    color: black;
    background-color: white;
    font-size: 1.5em;

}
footer .mozfrtext:hover {
    color: white;
    background-color: black;
}

h1 {
    border-bottom: 1px dashed #45a1ff;
    color: #45a1ff;
}

h1 span {
    color: #ff4f5e;
}

.photo {
    width: 500px;
    float: right;
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    border: 1px solid lightgray;
    margin: 0 0 0em 1em;
    padding: 10px 10px 1em 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    transform: rotate(5deg);
    font-weight: bold;
    font-family: cursive;
    font-style: italic;
    border-radius: 2px;
    background-color: white;
    opacity: 0.8;
}

.gandi {
    filter: invert(100%);
    width: 100px;
    vertical-align: middle;
    margin-left: 20px;
}

.getfirefox {
    color: #0250bb;
    padding: 8px 16px;
    border: 2px solid #0250bb;
    font-weight: bold;
    transition: background-color .1s,box-shadow .1s,color .1s,transform .1s;
    border-radius: 2px;
    height: 1.5em;
}

.getfirefox:hover {
    background-color: #0250bb;
    color: white;
    text-decoration:none;

}
