{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at https://mozilla.org/MPL/2.0/. #}

<div class="inner-footer">
    <section id="links">
    <a href="/" title="Mozilla francophone" class="mozfrtext">moz<span>fr</span></a>
        <div>
        <h3>Communication</h3>
        <ul>
            <li><a href="https://blog.mozfr.org">Blog principal</a></li>
            <li><a href="https://tech.mozfr.org">Blog technique</a></li>
            <li><a href="https://notreinternet.mozfr.org">Mozilla et la vie publique</a></li>
            <li><a href="https://planete.mozfr.org">Planète Mozilla francophone</a></li>
            <li><a href="https://twitter.com/Mozilla_fr">Suivez-nous sur Twitter</a></li>
            <li><a rel="me" href="https://mamot.fr/@Mozilla">Suivez-nous sur Mastodon</a></li>
        </ul>
        </div>
        <div>
        <h3>Logiciels</h3>
        <ul>
            <li><a href="https://www.mozilla.org/fr/firefox/new">Firefox</a></li>
            <li><a href="https://www.mozilla.org/fr/firefox/channel/desktop/?from=mozfr">Préversions de Firefox</a></li>
            <li><a href="https://play.google.com/store/apps/details?id=org.mozilla.fenix&amp;gl=FR">Firefox pour Android</a></li>
            <li><a href="https://www.thunderbird.net/fr/">Thunderbird</a></li>
            <li><a href="https://monitor.firefox.com/">Firefox Monitor</a></li>
        </ul>
        </div>
        <div>
        <h3>À propos</h3>
        <ul>
            <li><a href="/manifesto">Le manifeste de Mozilla</a></li>
            <li><a href="/participer">Participer</a></li>
            <li><a href="https://github.com/mozfr/besogne/wiki/Traduction">Traduire</a></li>
            <li><a href="https://forums.mozfr.org/">Forums et assistance</a></li>
            <li><a href="https://github.com/mozfr/besogne/wiki">Wiki d’équipe</a></li>
        </ul>
        </div>
    </section>
</div>

<div class="inner-footer">
    <section id="credits">
    <p>
        Le contenu textuel est disponible sous la licence <em>Creative Commons</em> <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr" title="Creative Commons — Attribution – Partage dans les mêmes conditions 4.0 International – CC BY-SA 4.0">CC By-SA 4.0</a>+ (<a href="https://github.com/mozfr/besogne/wiki/Licence" hreflang="fr">en savoir plus…</a>).
    </p>

    <p>
        Le <a href="https://github.com/mozfr/www">code source</a> du site est disponible sous licence <a href="https://www.mozilla.org/en-US/MPL/2.0/">Mozilla Public License Version 2.0</a>.
    </p>

    <p>
        Ce site est maintenu par des bénévoles et n’est pas un site officiel de la
        <a href="https://www.mozilla.org/fr/">fondation Mozilla</a>.
    </p>


    <p>
        Les sites mozfr sont hébergés gracieusement par <a href="https://gandi.net">Gandi</a>. <b>Merci&nbsp;!</b><img src="/img/propulse_par_gandi.svg" class="gandi">
    </p>
    </section>
</div>

