{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at https://mozilla.org/MPL/2.0/. #}

<a href="/" title="Mozilla francophone" class="mozfrtext">moz<span>fr</span></a>
<nav id="nav-main" role="navigation">
    <ul>
      {% for item in site.menus.main %}
      <li>
        <a href="{{ url(item.url) }}"
           {% if 'http' in item.url %}
           target="_blank"
           {% endif %}>
          {{ item.name }}
        </a>
      </li>
      {% endfor %}
    </ul>

</nav>
<a href="https://www.mozilla.org/fr/firefox/download/thanks/?source=mozfr" class="getfirefox">Télécharger Firefox</a>

